<div class="card text-bg-success">
    <img [src]="bankAccount.customerProfilePic" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h3 class="card-title"><b class="text-danger">{{bankAccount.customerName | uppercase}}</b></h3>
      <h4 class="card-title"><b class="text-warning">{{bankAccount.accountType |lowercase}} account </b></h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Customer Id: <b>{{bankAccount.customerId}}</b></li>
      <li class="list-group-item">Account Number: <b>{{bankAccount.id}}</b></li>
      <li class="list-group-item">Current Balance: <b>{{bankAccount.accountBalance}}</b></li>
      <li class="list-group-item">Account Created on <b>{{bankAccount.accountCreateDate | date: 'medium'}}</b></li>
    </ul>
    <div class="card-body">
      <a [routerLink]="['/branchdetails', bankAccount.id,bankAccount.customerId ]" class="card-link">Branch Details</a>
    </div>
</div>