<div class="card text-bg-success">
    <img [src]="bankAccount.profilePic" class="card-img-top img-fluid" alt="...">
    <div class="card-body">
      <h5 class="card-title"><b class="text-danger">{{bankAccount.custName}}</b></h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Customer Id: <b>{{bankAccount.custId}}</b></li>
      <li class="list-group-item">Account Number: <b>{{bankAccount.accNum}}</b></li>
      <li class="list-group-item">Current Balance: <b>{{bankAccount.accBalance}}</b></li>
      <li class="list-group-item">Account Created on <b>{{bankAccount.accountDate | date: 'medium'}}</b></li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">More Details</a>
    </div>
</div>