<div class="card text-bg-success">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Customer Id: </b>{{bankAccount.custId}}</li>
      <li class="list-group-item"><b>Account Number: </b>{{bankAccount.accNum}}</li>
      <li class="list-group-item"><b>Current Balance: </b>{{bankAccount.accBalance}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
</div>