<section [ngStyle]="{border:'2px double blue'}">
    <h3 [ngStyle]="h3StyleObject">BANK ACCOUNTS</h3>
    <table [ngClass]="tableClassArray">
        <thead >
            <tr>
                <th [ngClass]="thClassObject">ACCOUNT NUMBER</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts">
                <td>{{account.accNum}}</td>
                <td>{{account.custId}}</td>
                <td>{{account.accBalance}}</td>
                <td>{{account.accType}}</td>
            </tr>
        </tbody>
    </table>
</section>
