
.fontClass{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

input.ng-untouched{
    background-color: lightcyan;
}
input.ng-touched{
    background-color: aqua;
}
input.ng-pristine{
    border: 2px solid darkmagenta;
}
input.ng-dirty{
    border: 2px dashed darkmagenta;
}
input.ng-valid, form.ng-valid{
    border: 2px solid green;
}
input.ng-invalid, form.ng-invalid{
    border: 2px solid red;
}
