<section [ngStyle]="{border:'2px double blue'}">
    <h3 [ngStyle]="h3StyleObject">BANK ACCOUNTS DETAILS</h3>
    <table [ngClass]="tableClassArray">
        <thead [ngClass]="theadClassObject">
            <tr>
                <th>ACCOUNT NUMBER</th> <!-- view+development-->
                <th>CUSTOMER ID</th>
                <th>CUSTOMER NAME</th>
                <th>BAlAnCE</th>
                <th>ACCOUNT TYPE</th>
                <th>ACCOUNT CREATED ON</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts">
                <td>{{account.accNum}}</td>
                <td>{{account.custId}}</td>
                <td>{{account.custName}}</td>
                <td>{{account.accBalance}}</td>
                <td>{{account.accType}}</td>
                <td>{{account.accountDate}}</td>
            </tr>
        </tbody>
    </table>
    <table [ngClass]="tableClassArray">
        <thead [ngClass]="theadClassObject">
            <tr>
                <th>ACCOUNT NUMBER</th> <!-- view+development-->
                <th>CUSTOMER ID</th>
                <th>CUSTOMER NAME</th>
                <th>CUSTOMER NAME</th>
                <th>BALANCE</th>
                <th>BALANCE</th>
                <th>BALANCE</th>
                <th>BALANCE</th>
                <th>ACCOUNT TYPE</th>
                <th>ACCOUNT CREATED ON</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts">
                <td>{{account.accNum}}</td>
                <td>{{account.custId}}</td>
                <td>{{account.custName | titlecase}}</td>
                <td>{{account.custName | slice : 0 : 5}}</td>
                <td>{{account.accBalance | number}}</td> <!-- thousand seperator, number rounded up to 3 dec digits-->
                <td>{{account.accBalance | number : '5.0-0'}}</td> <!-- '.2-2' '.2-4'-->
                <td>{{account.accBalance | currency}}</td><!-- thousand seperator, $ currency, number rounded to exact 2 deci digits-->
                <td>{{account.accBalance | currency : 'INR':true:'.1-1'}}</td> <!-- symbol: true, code: false-->
                <td>{{account.accType | uppercase }}</td>
                <td>{{account.accountDate}}</td>
            </tr>
        </tbody>
    </table>
</section>

