<section [ngStyle]="{border:'2px double blue'}">
    <h3 [ngStyle]="h3StyleObject">{{headingFromChild}}</h3>
    <div class="row">
        <div class="col-md-2" *ngFor="let account of accounts">
                <app-account-card [bankAccount]="account"  (eventEmitter)="fromChild($event)"></app-account-card>
        </div>
    </div>
    <section>
        <h3>ACCOUNT INPUT FORM (Bootstrap Form)</h3>
        
    </section>

    <table [ngClass]="tableClassArray">
        <thead [ngClass]="theadClassObject">
            <tr>
                <th (click)="orderBy('accNum')">ACCOUNT NUMBER</th> <!-- view+development-->
                <th (click)="orderBy('custId')">CUSTOMER ID</th>
                <th (click)="orderBy('custName')">CUSTOMER NAME</th>
                <th (click)="orderBy('accBalance')">BALANCE</th>
                <th (click)="orderBy('accType')">ACCOUNT TYPE</th>
                <th (click)="orderBy('accountDate')">ACCOUNT CREATED ON</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts | orderby : orderProperty">
                <td>{{account.accNum}}</td>
                <td>{{account.custId}}</td>
                <td>{{account.custName}}</td>
                <td>{{account.accBalance}}</td>
                <td>{{account.accType}}</td>
                <td>{{account.accountDate | date: 'medium'}}</td>
            </tr>
        </tbody>
    </table>
    <table [ngClass]="tableClassArray">
        <thead [ngClass]="theadClassObject">
            <tr>
                <th>ACCOUNT NUMBER</th> <!-- view+development-->
                <th>CUSTOMER ID</th>
                <th>CUSTOMER NAME</th>
                <th>CUSTOMER NAME</th>
                <th>BALANCE</th>
                <th>BALANCE</th>
                <th>BALANCE</th>
                <th>BALANCE</th>
                <th>ACCOUNT TYPE</th>
                <th>ACCOUNT CREATED ON</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts">
                <td>{{account.accNum}}</td>
                <td>{{account.custId}}</td>
                <td>{{account.custName | titlecase}}</td>
                <td>{{account.custName | slice : 0 : 5}}</td>
                <td>{{account.accBalance | number}}</td> <!-- thousand seperator, number rounded up to 3 dec digits-->
                <td>{{account.accBalance | number : '5.0-0'}}</td> <!-- '.2-2' '.2-4'-->
                <td>{{account.accBalance | currency}}</td><!-- thousand seperator, $ currency, number rounded to exact 2 deci digits-->
                <td>{{account.accBalance | currency : 'INR':true:'.1-1'}}</td> <!-- symbol: true, code: false-->
                <td>{{account.accType | uppercase }}</td>
                <td>{{account.accountDate | date}}</td>
            </tr>
        </tbody>
    </table>
    <table [ngClass]="tableClassArray">
        <thead [ngClass]="theadClassObject">
            <tr>
                <th>ACCOUNT CREATED ON</th> <!-- view+development-->
                <th>ACCOUNT CREATED ON</th>
                <th>ACCOUNT CREATED ON</th>
                <th>ACCOUNT CREATED ON</th>
                <th>ACCOUNT CREATED ON</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let account of accounts">
                <td>{{account.accountDate | date : 'short'}}</td>
                <td>{{account.accountDate | date : 'medium'}}</td>
                <td>{{account.accountDate | date : 'long'}}</td>
                <td>{{account.accountDate | date : 'full'}}</td>
                <td>{{account.accountDate | date : 'dd-MMMM-yyyy'}}</td>
            </tr>
        </tbody>
    </table>
</section>

