<section>
    <h3>LOGIN FORM</h3>
    <form>
        <div class="mb-3">
          <label for="uname" class="form-label">UserName</label>
          <input type="text" class="form-control" id="uname">
        </div>
        <div class="mb-3">
          <label for="pass" class="form-label">Password</label>
          <input type="password" class="form-control" id="pass">
        </div>
        <input type="submit" class="btn btn-primary m-1" value="LOGIN">
        <input type="reset" class="btn btn-primary m-1" value="RESET">
      </form>
</section>
