<section class="mt-2">
    <h2>Internet Banking</h2>
    <p>You have charted your own course. Defined your own success.
You have earned the view from the top. You have arrived.
Discover a world where banking excellence meets the finer experiences in life.
A world where you can truly, live your success.
</p>
<p>
    You have charted your own course. Defined your own success.
You have earned the view from the top. You have arrived.
Discover a world where banking excellence meets the finer experiences in life.
A world where you can truly, live your success.
</p>
</section>
<div>
    <h3>1-way DB</h3>
    <b>String Interpolation : {{accountType}}</b>
    <div>
        <label for="accountType">Enter Type:</label><input type="text" id="accountType" value="{{accountType}}">
    </div>
</div>
<div>
    <b>String Interpolation : {{interestRate}}</b>
    <div>
        <h3>2-way DB</h3>
        <label for="rate">Enter Interest Rate:</label>
        <input type="text" id="rate" [(ngModel)]="interestRate"  (blur)="showValues()" >
    </div>
</div>
<div>
        <h3>Event Binding</h3>
        <div>
            <label for="bank">Enter Bank Name</label>
            <input type="text" id="bank" [(ngModel)]="bankName">
            <button (click)="convert()">UPPERCASE</button>
            <p>{{bankName}}</p>
        </div>   
</div>