<section class="mt-2">
    <h2>Internet Banking</h2>
    <p>You have charted your own course. Defined your own success.
You have earned the view from the top. You have arrived.
Discover a world where banking excellence meets the finer experiences in life.
A world where you can truly, live your success.
</p>
<p>
    You have charted your own course. Defined your own success.
You have earned the view from the top. You have arrived.
Discover a world where banking excellence meets the finer experiences in life.
A world where you can truly, live your success.
</p>
</section>
<div>
    <b>String Interpolation : {{accountType}}</b>
    <div>
        <label for="accountType">Enter Type:</label><input type="text" id="accountType" value="{{accountType}}">
    </div>
</div>
