<section class="mt-2">
    <h2>Internet Banking</h2>
    <p>You have charted your own course. Defined your own success.
You have earned the view from the top. You have arrived.
Discover a world where banking excellence meets the finer experiences in life.
A world where you can truly, live your success.
</p>
<p>
    You have charted your own course. Defined your own success.
You have earned the view from the top. You have arrived.
Discover a world where banking excellence meets the finer experiences in life.
A world where you can truly, live your success.
</p>
</section>
<div>
    <h3>1-way DB</h3>
    <b>String Interpolation : {{accountType}}</b>
    <div>
        <label for="accountType">Enter Type:</label><input type="text" id="accountType" value="{{accountType}}">
    </div>
</div>
<div>
    <b>String Interpolation : {{interestRate}}</b>
    <div>
        <h3>2-way DB</h3>
        <label for="rate">Enter Interest Rate:</label>
        <input type="text" id="rate" [(ngModel)]="interestRate"  (blur)="showValues()" >
    </div>
</div>
<div>
        <h3>Event Binding</h3>
        <div>
            <label for="bank">Enter Bank Name</label>
            <input type="text" id="bank" [(ngModel)]="bankName">
            <button type="button" (click)="convert()">UPPERCASE</button>
            <p>{{bankName}}</p>
        </div>   
</div>
<div>
    <h3>Event Binding</h3>
        <div>
            <label for="nm1">Enter 1st Number</label>
            <input type="number" id="nm1" [(ngModel)]="numbers.num1" (keyup)="addNums()">
        </div>
        <div>
            <label for="nm2">Enter 2nd Number</label>
            <input type="number" id="nm2" [(ngModel)]="numbers.num2" (keyup)="addNums()">
        </div>
        <div>
            <p>Addition is : {{numbers.addition}}</p>
        </div>
</div>
<div>
    <h3>Template Reference Variable</h3>
        <div>
            <input type="number" placeholder="ifsccode" #inputEle>
        </div>
        <div>
            <button (click)="access(inputEle.value)">CLICK</button>
        </div>
</div>
<div>
    <h3>Addition  (Template Reference Variables)</h3>
    <div>
        <input type="number" placeholder="enter 1st number" #n1>+ 
        <input type="number" placeholder="enter 1st number" #n2><button (click)="add(n1.value,n2.value)">=</button>
        {{"show ur answer here"}}
    </div>
   
</div>
<div>
    <h3>Attribute</h3>
    <img [src]="imageObject.source" [alt]="imageObject.altMessage" [height]="imageObject.imgHeight" width="imageObject.imgWidth" (mouseover)="zoom()">
</div>